:root {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-very-dark-blue: hsl(234, 12%, 34%);
    --color-grayish-blue: hsl(229, 6%, 66%);
    --color-very-light-gray: hsl(0, 0%, 98%);

    --font-weight-200: 200;
    --font-weight-400: 400;
    --font-weight-600: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-very-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 2rem;
}
h1,
h2 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-200);
}
h2 {
    font-weight: var(--font-weight-600);
    margin-bottom: 1rem;
}
p {
    font-size: 15px;
    line-height: 1.8;
    font-weight: var(--font-weight-200);
}
.card {
    width: 100%;
    margin-top: 4rem;
    text-align: left;
}
article {
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px var(--color-grayish-blue);
    margin-bottom: 1.5rem;
    padding: 1.2rem;
}
article p {
    font-size: 0.8rem;
    margin-top: 0.2rem;
}
.card-1 {
    border-top: 4px solid var(--color-cyan);
}
.card-2 {
    border-top: 4px solid var(--color-red);
}
.card-3 {
    border-top: 4px solid var(--color-orange);
}
.card-4 {
    border-top: 4px solid var(--color-blue);
}
.img-container {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}
@media (min-width: 768px) {
    body {
        height: 100vh;
        justify-content: start;
    }
    .header-description {
        max-width: 32rem;
        margin-bottom: 5rem;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: calc(100% - 2 * 6rem);
    }
    .card-1,
    .card-2-3,
    .card-4 {
        flex-grow: 1;
        margin: 0 1rem;
        width: 33%;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4 {
        padding: 2.5rem;
    }
}
